<div class="col-md-8 blog-main">

  <h2><%= @blog.title %></h2>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= link_to "Home", root_path, class: 'breadcrumb-item' %>
      <%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item' %>
      <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog), class: 'breadcrumb-item' if logged_in?(:site_admin) %> 
      <%= link_to fa_icon('trash'), blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' }, class: 'breadcrumb-item' if logged_in?(:site_admin) %> 
    </ol>
  </nav>

	<p>
	    <%= link_to 'Back', blogs_path %>
	</p>

  <p>
	    <%= markdown @blog.body %>
  </p>

  <%= render 'comments/comment_form' %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>